# file:db.config
input {
  jdbc {
    # path to jdbc driver
    jdbc_driver_library => "/home/anup/elk/logstash-6.1.3/drivers/mysql-connector-java-5.1.45-bin.jar"
    # name of the driver  class for MySQL
    jdbc_driver_class => "com.mysql.jdbc.Driver"
    # mysql jdbc connection string to our ddatabase , reddit
    jdbc_connection_string => "jdbc:mysql://localhost:3306/reddit"
    # user we execute our statement as
    jdbc_user => "root"
    # the user password
    jdbc_password => ""
    # our query
    statement => "SELECT ID, TITLE, AUTHOR, UPS from submission"
    type => "sub"

  }
}

output{
	elasticsearch {
	   hosts => ["localhost:9200"]
	   index => "reddit_sub"
     document_type =>"sub"
     document_id =>"%{sub_id}"
     user => "elastic"
     password => "changeme"



  }

}
